@import '../../style/_mixins.sass'
@import '../../style/_variables.sass'
@import '../../style/_media.sass'

.btn_group
    display: flex
    justify-content: space-around
.card
    width: 18rem
    cursor: grab
    margin: 0 auto
    padding: 10px 10px
    transition: 0.5s all
    &_title
        margin-top: 10px
    &_img
        width: 100%
        object-fit: cover
    &_drag
        background: gray
    &_drop
        background: none