@import './_mixins.sass'
@import './_variables.sass'
@import './_media.sass'
  
.label
  margin: 0 auto
  height: 24px
  width: 112px
  padding: 5px 12px
  font-size: 11px
  font-weight: 300
  text-transform: uppercase
  text-align: center
  background-color: #000000
  color: #ffffff
  &_light
    background-color: #000000
    color: #ffffff
    transition: 0.5s all
  &_dark
    background-color: #FFF
    color: #000000
    font-weight: 500
    transition: 0.5s all

.title
  margin-bottom: 0
  margin-top: 38px
  color: $text-color
  font-size: 38px
  font-weight: 700
  text-transform: uppercase
  text-align: center
  &_light
    color: #222222
  &_dark
    color: #fff

.subtitle
    margin-top: 19px
    font-weight: 400
    font-size: 17px
    color: $text-color
    text-align: center
    &_light
      color: #222222
    &_dark
      color: #fff

.btn
  padding: 6px 20px
  background-color: #3d5a80
  color: #fff
  border-radius: 4px
  font-size: 15px
  transition: all 0.5s
  &:hover
    color: #6dcb55
  &_position_center
    margin: 0 auto
    display: flex



        


